.git
.github
.idea
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
bootstrap/ssr
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
tests
.phpunit.cache
Dockerfile
compose.yaml
